# Taken from https://github.com/golang-standards/project-layout
# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.wasm

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Dependency directories
vendor/

# IDE files
.vscode

# dependencies
typescript/node_modules 

# npm/yarn
typescript/npm-debug.log*
typescript/yarn-debug.log*
typescript/yarn-error.log*
typescript/.npmrc

# production
typescript/build
